body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(#e2eaf1, #e2eaf1);
}

.loading-icon {
  text-align: center;
  opacity: 0.6;
}

.logo {
  color: #3078c7;
  vertical-align: top;
}

.navbar {
  padding-bottom: 0;
}

.btn-edit {
  color: white;
  background-color: #fbdc61;
}

.btn-edit:hover {
  color: white;
  background-color: #d6b953;
}

.map-marker:hover {
  cursor: pointer;
  opacity: 0.8;
}

.merchant-list {
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 1em;
}

.container {
  width: 90%;
}

.ulist {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.ulist-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.aside-fixed+.content {
  margin-left: 240px;
}

.aside-fixed+.content-minimized {
  margin-left: 60px;
}

.aside-fixed+.content-overlay {
  margin-left: 0px;
  z-index: 9999;
}

.aside-fixed+.content-overlay-expanded {
  margin-left: 0px;
  filter: brightness(50%);
}

.ht-100v {
  height: 100vh;
}

.aside-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.top-nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
}

.aside {
  display: block;
  width: 240px;
  height: 100%;
  height: calc(100% - 54px);
  transform: translateX(0%);
}

.aside.minimize {
  width: 60px;
}

.aside.remove {
  transform: translateX(-100%);
}
