.loading-icon {
  text-align: center;
  opacity: 0.6;
}

.logo {
  vertical-align: top;
}

.nav-link {
  color: #61dafb;
}

.nav-item {
  padding-bottom: 0;
  vertical-align: bottom;
}

a:hover {
  color: #A7E2FB
}

a.nav-link.active {
  color: #fbdc61;
  border-bottom: 3px solid #61dafb;
}

a.nav-link.active:hover {
  color: #FBF19A;
  border-bottom: 3px solid #61dafb;
}

.navbar {
  padding-bottom: 0;
}

.btn-edit {
  color: white;
  background-color: #fbdc61;
}

.btn-edit:hover {
  color: white;
  background-color: #d6b953;
}

.map-marker:hover {
  cursor: pointer;
  opacity: 0.8;
}

.merchant-list {
  max-height: 35vh;
  overflow-y: auto;
  margin-bottom: 1em;
}

.container {
  width: 90%;
}
